<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>	

.box:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	  }
	 
	 </style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MIA</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
<!-- <link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" /> -->
<link rel="stylesheet" href="/home/cmp/Desktop/MedIA/static/styles/default.css">
<link rel="stylesheet" href="/home/cmp/Desktop/MedIA/static/styles/fonts.css">
<link rel="stylesheet" href="{{url_for('static', filename='styles/default.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- <link href="default_ie6.css" rel="stylesheet" type="text/css" /> -->

</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="{{ url_for('index') }}">MIA</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="{{ url_for('index') }}" accesskey="1" title="Homepage">Homepage</a></li>
				<li><a href="{{ url_for('about') }}" accesskey="3" title="About Us">About Us</a></li>
				<li><a href="{{ url_for('contact') }}" accesskey="4" title="Contact">Contact Us</a></li>
			</ul>
		</div>
	</div>
	</div>
	<div id="banner">
		<div class="container">
			<div class="title">
				<h2>MEDICAL INFORMATION ASSISTANCE</h2>
				<span class="byline">YOUR VERY OWN MEDICAL ASSISTANT</span> </div>
		
		</div>
	</div>
	<div id="extra" class="container">
		<div class="title">
			<h2>WELCOME , HOW  CAN I HELP YOU TODAY</h2>
			<span class="byline">PLEASE INDENTITY YOURSELF AS</span> </div>
		<div id="three-column">
			<div class="boxA">
				<div class="box"> <span class="fa fa-user" aria-hidden="true"></span>
					<p>I AM AN USER</p>
					<a href="psign.html" class="button">SIGN IN </a>
				</div>
			</div>
			<div class="boxB">
				<div class="box"> <span class="fa fa-user-md" aria-hidden="true"></span>
					<p>I AM MEDICAL EXPERT</p>
					<a href="dsign.html" class="button">SIGN IN</a>
				</div>
			</div>
			<div class="boxC">
				<div class="box"> <span class="fa fa-medkit" aria-hidden="true"></span>
					<p>I AM AN ENTERPRENERUR</p>
					 <a href="esign.html" class="button">SIGN IN</a>
				</div>
			</div>
		</div>
	</div>
	 <div id="featured">
		<div class="container">
			<div class="title">
				
		<h3>	 <span class="container">"The art of medicine consists in amusing the patient while nature cures the disease."</span>
										
						</h3>				    
		</div>

	</div>
</div>

<div>
<center>	<p id="copyright" >  &copy; MIA. All rights reserved.</p> </center>

</div>
</body>
</html>
