{% extends 'signlayout.html' %}
{% block title %} Sign In {% endblock %}
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}


.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}



/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  border: none;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
</style>

{% block content %}
 

<p>Please fill in this form to sign into your account.</p>
    <hr>
     
     <div class="container"> 
    <form  method = "POST">

<div class="row">
    <div class="col-25">
    <label for="lic"><b>Licence</b></label>
    </div>
    <div class="col-75">
     <input type="text" placeholder="Enter Licence" name="licence" required>

    </div>
    </div>

    <div class="row">
    <div class="col-25">
    <br>
    <label for="passwd"><b>Password</b></label>
    </div>
    <div class="col-75">
    <br>
     <input type="password" placeholder="Enter Password" name="passwd" required>
     </div>
     </div>
 <p style="color:red;">    
  {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <div class="alert">
                    <p>{{ message }}</p> 
                     </div> 
               {% endfor %}  
         {% endif %}  
      {% endwith %}  
      </p>


     <div class="row">
    <div class="col-25">
    <p> New Member? <a href="esign.html" style="color:dodgerblue">Register Now</a>.</p>
      </div>
      </div>

    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign In</button>
       <br>
       </div>
       
   
</form>
  </div>

  {% endblock %}